@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: #167ac6;
    --black: #212121;
    --gray: rgba(0, 0, 0, 0.54);
}

html {
    font-family: 'Roboto', sans-serif;
}

input {
    color: var(--black);
}

.material-icons {
    color: var(--gray);
}

input, button {
    appearance: none;
    border: none;
    background: none;
}

button {
    outline: none;
}

hr {
    border: none;
    border-top: 0.5px solid var(--gray);
}

#content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.youtube-logo{
    width: 7em;
}

#appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/13;
    height: 4em;
    overflow-x: auto;
    overflow-y: hidden;
}

#search-bar {
    height: 2em;
    flex: 1em;
    justify-content: center;
}

#search-bar-input {
    border: 1px solid var(--gray);
    border-right: none;
    width: 50%;
    height: 100%;
    padding: 0.5em;
}

#search-bar-input-button{
    border: 1px solid var(--gray);
    height: 100%;
}

.drawer {
    position: absolute;
    width: 55%;
    height: 100%;
    transform: translateX(-100%);
    overflow-y: auto;
    z-index: 2;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.drawer ul {
    list-style-type: none;
    padding: 0.5em 1em;
}

.item-link {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}

.item-link span {
    margin-right: 1em;
}

.open {
    transform: translateX(0);
}

.faded {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.5s ease-in-out;
}

.dark {
    pointer-events: all;
    background-color: rgba(0,0,0,0.5);
}

.align-center{
    display: flex;
    align-items: center;
}

.blue-btn{
    border: 1px solid var(--blue);
    padding: 0.2em;
    margin-right: 0.3em; 
}

.blue-btn * {
    margin: 0 0.2em;
}

.blue-btn #icon{
    background-color: var(--blue);
    color: white;
    border-radius: 50%;
    padding: 0.2em;
}

.blue-btn .text{
    color: var(--blue);
}

.desktop-only {
    display: none;
}

.w-100{
    width: 100%;
}

@media screen and (min-width: 500px){
    .desktop-only{
        display: inherit;
        justify-content: center;
        height: 100%;
    }
    .mobile-only{
        display: none;
    }
}